body {
  background-color: #EEE;
  color: #555;
}


.Bar_remainderlist {
  background-color: #FFF;
  padding: 0px 50px 200px 0px;
  width: 300px;
  margin: -10px auto;
  border: 0px solid rgb(5, 13, 240);
  border-radius: 2px;
  position: fixed;
  left: 0;
  height: 100vh;
}

.Bar_remainderlist h1 {
  margin: 10px 20px;
  padding-bottom: 20px;
  text-align: left;
  color: #dd0ca9;
}


.Bar_remainder-footer {
  border-top: 1px solid #EEE;
  background-color: #dd0ca9;
  margin: 0px -50px -20px -0px;
  padding: 19px 100px;
}


.Bar_list-group-flush> .list-group-item {
  padding: 8px 0px;
}

.Bar_List_InputBar{
  color: #074107;
  padding: 25px;
  margin: -5px -80px -0px 20px;
  width: 300px;
  padding-left: 50px;
}

.Bar_list-group-item{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

