body {
  background-color: #EEE;
  color: #555;
}

.remainderlist {
  background-color: #FFF;
  padding: 20px 20px 10px 20px;
  width: 700px;
  margin: 30px auto;
  border: 1px solid #ddd;
  border-radius: 2px;
  position: relative;
}

.remainderlist h1 {
  margin: 10px 20px;
  padding-bottom: 20px;
  text-align: left;
  color: #d27e08a8;
}


.remainder-footer {
  border-top: 1px solid #EEE;
  background-color: #f4fce8;
  margin: 20px -20px -10px -20px;
  padding: 10px 38px;
}


.list-group-flush> .list-group-item {
  padding: 8px 1px;
}

.InputBar{
  color: #074107;
  padding: 15px;
  margin: -5px 10px -0px 20px;
  width: 600px;
  padding-left: 10px;
}

.list-group-item{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}




