.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

.form .register-form{
  display: flex;
  flex-direction: column;
}

.form .login-form{
  display: flex;
  flex-direction: column;
}

.form {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;
}

button {
  border: 1px solid white;
  background-color: black;
  padding: 15px;
  width: 110px;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.link-button {
  background: none;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 12.5px;
  width: 200px;
  text-decoration: underline;
}

.err-msg {
  width: 100%;
  text-align: center;
  font-size: 12.5px;
  color: #43e2cf;
  opacity: 1;
}